# Android Studio / IntelliJ
.idea/
**/.idea/
*.iml

# Gradle and build outputs
.gradle/
**/.gradle/
build/
**/build/

# Local machine config
local.properties
**/local.properties

# Android generated/capture/native build folders
captures/
**/captures/
.externalNativeBuild/
**/.externalNativeBuild/
.cxx/
**/.cxx/

# OS files
.DS_Store



/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml


/captures

